<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      Fluffy
    </title>
    <link rel="stylesheet" type="text/css" href="../stylesheet/contactUs.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheet/index.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheet/ProfilePageStyle.css" />

</head>
  <body>
    <!-- Nav Bar -->
    <div id="header">
        <div class="container">
            <div id="brand">Fluffy</div>
            <ul>
                <li>
                    <a class="navButton" href="./MainPage.html">HOME</a>
                </li>
                <li>
                    <a class="navButton" href="./RegularUserProfilePage.html">ACCOUNT</a>
                </li>
                <li>
                    <a class="navButton" href="">CONTACT US</a>
                </li>
                <li class="searchForm">
                    <input id="searchButton" type="text" name="search" placeholder="Search..">
                    <button id="searchIcon" type="submit"></button>                
                </li>
            </ul>
        </div>
    </div>
    <!-- Background -->
    <div class="backgroundContainer">
        <img id="backgroundImage" src="../Image/IMG_4537.jpg">
    </div>
    <!-- Contact Us -->
    <div class="contactUsContainer">
        <img class="contactUsImage" src="../Image/contactUs.jpg">
    </div>
    </body>
</html>