<!DOCTYPE html>
<html lang="en">
<head>
	<title>Fluffy</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../stylesheet/index.css">
	<link rel="stylesheet" type="text/css" href="../stylesheet/mainPage.css">
</head>

<body>
	<!-- Make/Check Post Modal -->
	<div id="PostModal" class="modal">
		<form id="PostModal-Form">
			<!-- Picture section of post modal-->
			<div id="PostModal-Picture">
				<img class="AddFilePic" src="../Image/postModalAddPic.png" accept="image/*" />
				<input id="PostModal-ImgFileSelector" type="file" name="">
			</div>
			<!-- Title section of post modal-->
			<div id="PostModal-PostTitle">
				<img class="circle" src="../Image/postModalSearchCircle.png">
				<input class = "PostModal-PostTitleText" type="text" name="postTitle" placeholder="Write something...">
			</div>
			<!-- Comment section of post modal-->
			<div id="PostModal-Comment"></div>
			<!-- Submit the post or comment-->
			<input id="PostModal-SubmitPost" type="submit" name="" value="Post">
		</form>
	</div>

	<!-- Fluffy Application page-->
	<div id="FluffyApplication">
		<div id="header">
			<div class="container">
				<div id="brand">Fluffy</div>
				<ul>
					<li>
						<a class="navButton" href="./MainPage.html">HOME</a>
					</li>
					<li>
						<a class="navButton" href="./HomestayUserProfilePage.html">ACCOUNT</a>
					</li>
					<li>
						<a class="navButton" href="./ContactPage.html">CONTACT US</a>
					</li>
					<li>
						<!-- User Post Button-->
						<div id="newPostButtonDiv">
							Post
						</div>
					</li>
					<li class="searchForm">
						<input id="searchButton" type="text" name="search" placeholder="Search..">
						<button id="searchIcon" type="submit"></button>
					</li>
				</ul>
			</div>
		</div>

		<div id="UserPagePictureSlids">
			<img src="../Image/PictureSlide.jpg">
		</div>

		<div id="FluffyLogoContainer">
			<div id="FluffyLogo">
				<img src="../Image/FluffyLogo.png" alt="LogoImage">
			</div>
		</div>

		<div class="postContainer">
			<div class="row">
				<!-- Post Colomn -->
				<div class="column">
					<div class="post">
						<div class="postImageContainer">
							<img class="postImage" src="../Image/samplePost1.jpg">
						</div>
						<div class="postTextContainer">
							<span class="postText">miamiamia</span>
						</div>
					</div>
				</div>

				<div class="column">
					<div class="post">
						<div class="postImageContainer">
							<img class="postImage" src="../Image/samplePost2.jpg">
						</div>
						<div class="postTextContainer">
							<span class="postText">miamiamia</span>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="post">
						<div class="postImageContainer">
							<img class="postImage" src="../Image/samplePost3.jpg">
						</div>
						<div class="postTextContainer">
							<span class="postText">miamiamia</span>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="post">
						<div class="postImageContainer">
							<img class="postImage" src="../Image/samplePost4.jpg">
						</div>
						<div class="postTextContainer">
							<span class="postText">miamiamia</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<!-- Post Colomn -->
				<div class="column">
					<div class="post">
						<div class="postImageContainer">
							<img class="postImage" src="../Image/samplePost5.jpg">
						</div>
						<div class="postTextContainer">
							<span class="postText">miamiamia</span>
						</div>
					</div>
				</div>

				<div class="column">
					<div class="post">
						<div class="postImageContainer">
							<img class="postImage" src="../Image/samplePost6.jpg">
						</div>
						<div class="postTextContainer">
							<span class="postText">miamiamia</span>
						</div>
					</div>
				</div>
				
			</div>

		</div>

	<div id="Fluffy footer"></div>


	<!-- JS files -->
	<script type="text/javascript" src="../js/PostingManager.js"></script>
	<script type="text/javascript" src="../js/PostingModal.js"></script>
	<script type="text/javascript" src="../js/MainPage.js"></script>
</body>
</html>