<!DOCTYPE html>
<html lang="en">
<head>
	<title>Fluffy</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./MainPage.css">
	<link rel="stylesheet" type="text/css" href="./postModal.css">
	<link rel="stylesheet" type="text/css" href="./HeaderNavBar.css">
</head>

<body>
	<!-- fix positioned div-->
	<!-- Make Post Modal -->





	<div id="MakePostModal" class="modal">
		<div id="MakePostModal-Container">
			<div id="MakePostModal-Picture">
				<img class="AddFilePic" src="./postModalAddPic.png">
			</div>
			<div id="MakePostModal-PostTitle">
				<img class="circle" src="./postModalSearchCircle.png">
				<input type="text" name="postTitle" placeholder="Write something...">
			</div>
			<div id="MakePostModal-Post" class="UserPostButtonDiv">Post</div>
		</div>
	</div>
	<div id="FluffyApplication">
		<!-- Fluffy Application page-->
		<div id="UserPageHeader">
			<div id="HeaderText">Fluffy</div>
			<div id="header">
					<div class="container">
						<div id="brand">Fluffy</div>
						<ul>
							<li>
								<a class="navButton" href="./MainPage.html">HOME</a>
							</li>
							<li>
								<a class="navButton" href="./HomestayUserProfilePage.html">ACCOUNT</a>
							</li>
							<li>
								<a class="navButton" href="">CONTACT US</a>
							</li>
							<li class="searchForm">
								<input id="searchButton" type="text" name="search" placeholder="Search..">
								<button id="searchIcon" type="submit"></button>							</li>
						</ul>
					</div>
				</div>
			<!-- User Post Button-->
			<div class="UserPostButtonDiv">
				Post
			</div>
			<!-- Search For Post searchBar-->
			<div id="UserSearchButton">
				<input type="text" name="searchPost" placeholder="Search for a post">
				<img src="searchImage.png" alt="searchImage.png">
			</div>
		</div>

		<div id="UserPagePictureSlids">
			<img src="./PictureSlide.jpg">
		</div>

		<div id="FluffyLogoContainer">
			<div id="FluffyLogo">
				<img src="./FluffyLogo.png" alt="LogoImage">
			</div>
		</div>

		<div id="UserPostings">
			<table id="UserPostingsTable">
				<tbody>
					<tr>
						<td class="Posting">
							<div class="PostingImage">
								<img src="./samplePosts/samplePost1.jpg">
							</div>
							<div class="PostingTitle">miamiamia</div>
						</td>
						<td class="Posting">
							<div class="PostingImage">
								<img src="./samplePosts/samplePost2.jpg">
							</div>
							<div class="PostingTitle">Posting 2</div>
						</td>
						<td class="Posting">
							<div class="PostingImage">
								<img src="./samplePosts/samplePost3.jpg">
							</div>
							<div class="PostingTitle">Posting 3</div>
						</td>
						<td class="Posting">
							<div class="PostingImage">
								<img src="./samplePosts/samplePost4.jpg">
							</div>
							<div class="PostingTitle">Posting 4</div>
						</td>
					</tr>

					<tr>
						<td class="Posting">
							<div class="PostingImage">
								<img src="./samplePosts/samplePost5.jpg">
							</div>
							<div class="PostingTitle">Posting 5</div>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>

	<img src="./sampleModal.jpg">
	<div id="Fluffy footer"></div>


	<!-- JS files -->
	<script type="text/javascript" src="./PostingManager.js"></script>
	<script type="text/javascript" src="./PostingModal.js"></script>
	<script type="text/javascript" src="./MainPage.js"></script>
</body>
</html>