<!DOCTYPE html>
<html lang="en">
<head>
	<title>Fluffy</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../stylesheet/index.css">
	<link rel="stylesheet" type="text/css" href="../stylesheet/mainPage.css">
	<link rel="stylesheet" type="text/css" href="../stylesheet/postModal.css">
</head>

<body>
	<!-- fix positioned div-->
	<!-- Make Post Modal -->
	<div id="MakePostModal" class="modal">
		<div id="MakePostModal-Container">
			<div id="MakePostModal-Picture">
				<img class="AddFilePic" src="../Image/postModalAddPic.png">
			</div>
			<div id="MakePostModal-PostTitle">
				<img class="circle" src="../Image/postModalSearchCircle.png">
				<input type="text" name="postTitle" placeholder="Write something...">
			</div>
			<div id="MakePostModal-Post" class="UserPostButtonDiv">Post</div>
		</div>
	</div>

	<!-- Fluffy Application page-->
	<div id="FluffyApplication">
		<div id="UserPageHeader">
			<div id="header">
				<div class="container">
					<div id="brand">Fluffy</div>
					<ul>
						<li>
							<a class="navButton" href="./MainPage.html">HOME</a>
						</li>
						<li>
							<a class="navButton" href="./HomestayUserProfilePage.html">ACCOUNT</a>
						</li>
						<li>
							<a class="navButton" href="">CONTACT US</a>
						</li>
						<li>
							<!-- User Post Button-->
							<div class="UserPostButtonDiv">
								Post
							</div>
						</li>
						<li class="searchForm">
							<input id="searchButton" type="text" name="search" placeholder="Search..">
							<button id="searchIcon" type="submit"></button>
							<!--<input id="searchIcon" src="./searchIcon.png" type="image" name="submit"> -->
						</li>
					</ul>
				</div>
			</div>

		</div>

		<div id="UserPagePictureSlids">
			<img src="../Image/PictureSlide.jpg">
		</div>

		<div id="FluffyLogoContainer">
			<div id="FluffyLogo">
				<img src="../Image/FluffyLogo.png" alt="LogoImage">
			</div>
		</div>

		<div id="UserPostings">
			<table id="UserPostingsTable">
				<tbody>
					<tr>
						<td class="Posting">
							<div class="PostingImage">
								<img src="../Image/samplePost1.jpg">
							</div>
							<div class="PostingTitle">miamiamia</div>
						</td>
						<td class="Posting">
							<div class="PostingImage">
								<img src="../Image/samplePost2.jpg">
							</div>
							<div class="PostingTitle">Posting 2</div>
						</td>
						<td class="Posting">
							<div class="PostingImage">
								<img src="../Image/samplePost3.jpg">
							</div>
							<div class="PostingTitle">Posting 3</div>
						</td>
						<td class="Posting">
							<div class="PostingImage">
								<img src="../Image/samplePost4.jpg">
							</div>
							<div class="PostingTitle">Posting 4</div>
						</td>
					</tr>

					<tr>
						<td class="Posting">
							<div class="PostingImage">
								<img src="../Image/samplePost5.jpg">
							</div>
							<div class="PostingTitle">Posting 5</div>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>

	<img src="../Image/sampleModal.jpg">
	<div id="Fluffy footer"></div>


	<!-- JS files -->
	<script type="text/javascript" src="../js/PostingManager.js"></script>
	<script type="text/javascript" src="../js/PostingModal.js"></script>
	<script type="text/javascript" src="../js/MainPage.js"></script>
</body>
</html>