<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      Fluffy
    </title>
    <link rel="stylesheet" type="text/css" href="../stylesheet/ProfilePageStyle.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheet/index.css" />
</head>
  <body>
    <!-- Nav Bar -->
    <div id="header">
        <div class="container">
            <div id="brand">Fluffy</div>
            <ul>
                <li>
                    <a class="navButton" href="./MainPage.html">HOME</a>
                </li>
                <li>
                    <a class="navButton" href="./RegularUserProfilePage.html">ACCOUNT</a>
                </li>
                <li>
                    <a class="navButton" href="">CONTACT US</a>
                </li>
                <li class="searchForm">
                    <input id="searchButton" type="text" name="search" placeholder="Search..">
                    <button id="searchIcon" type="submit"></button>                
                </li>
            </ul>
        </div>
    </div>
    <!-- Background -->
    <div class="backgroundContainer">
        <img id="backgroundImage" src="../Image/IMG_4537.jpg">
    </div>
    <!-- Name Card -->
    <div id="regularNameCard">
            <a href="./profile_edit.html"><button type="button" class="editButton"></button></a>
        <div id="profileImage">
            <img class="profileImageRatio" src="../Image/regularUserProfileImage.png">
        </div>
        <center id="userName">User1</center>
    </div>
    <!-- User Posts -->
    <div class="postContainer">
        <div class="row">
            <!-- Post Colomn -->
            <div class="column">
                <div class="post">
                    <div class="postImageContainer">
                        <img class="postImage" src="../Image/IMG_4537.jpg">
                    </div>
                    <div class="postTextContainer">
                        <span class="postText">Cuteness here...</span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="post">
                </div>
            </div>
            <div class="column">
                <div class="post">
                </div>
            </div>
            <div class="column">
                <div class="post">
                </div>
            </div>
        </div>
    </div>
  </body>
</html>